# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Pytests files
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# PyCharm / VSCode project files (optional)
.idea/
.vscode/

# Build artifacts
build/
dist/


yt_venv/